@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./reset.css');

/* -------------------Form--------------------- */
.search-form {
  width: 400px;
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 4px;
}

.search-btn,
.load-more-btn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}
.search-btn:hover,
.load-more-btn:hover {
  background-color: #a0cfb4;
}
.load-more-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.load-more-btn.is-hidden {
  display: none;
}
/* -------------------Render----------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-card {
  width: calc((100% - 60px) / 4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.gallery-card:hover,
.gallery-card:focus {
  transform: scale(1.05);
}
.gallery-card {
  transition: all 0.3s ease-in-out;
}
.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.text-list {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-around;
}

.text-title {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.text-values {
  line-height: 24px;
  font-size: 11px;
  text-align: center;
}
/* -------------Loader------------------------------------- */
.loader.is-hidden {
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: rotate 1s linear infinite;
}
.loader-2 {
  margin-top: 10px;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
